body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    background-color: rgb(204, 204, 204);
    padding: 20px 0;
}

h3 {
    color: rgb(40, 40, 40)
    
}